# Core
streamlit
gradio

# PyTorch (CPU version for Hugging Face Spaces, replace with CUDA locally if GPU available)
torch
torchvision
torchaudio

# Computer vision + plotting
opencv-python
matplotlib
numpy
pandas

# YOLOv7 dependencies
scipy
tqdm
seaborn
PyYAML
scikit-learn

# For handling video + media
ffmpeg-python
moviepy

# Utils
requests
