# Core
torch>=2.2.0
torchvision>=0.17.0
torchaudio>=2.2.0

# Object detection
opencv-python
numpy
matplotlib
pandas

# Web UI
streamlit
altair
pydeck

# Utils
tqdm
seaborn
scipy
scikit-learn

# For JSON / reporting
ujson
PyYAML>=6.0
